<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body>
    <slot />

    <!-- JS global de scroll -->
    <script type="module" src="/src/scripts/scroll-animations.js"></script>
  </body>
</html>
